img {
    float: left;
    margin: 5px;
}

.contenedor {
    width: 550px;
    font-family: Verdana, Arial;
    background-color: orange;
    border: 15px outset gray;
    text-align: justify;
    padding: 10px;
}

.letraCapital:first-letter {
    font-family: Times;
    color: gray;
    font-size: 60px;
    float: left;
    border: 3px solid black;
    margin: 10px;
}

p:not(.letraCapital) {
    text-indent: 33px;
}