body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}

h1 {
    background-color: green;
    color: white;
    text-align: center;
}

#cabecera {
    margin: 0 auto;
    background-color: white;
    width: 60%;
    border: 5px solid yellow;
}

#cuerpo {
    background-color: pink;
    position: relative;
}

#cuerpo .caja {
    width: 20%;
    height: 100px;
    background-color: gray;
    border: 10px solid blue;
    display: inline-block;
    position: relative;
}

#cuerpo .caja:nth-child(6){
    background-color: red;
    opacity: 80%;
    bottom: 50px;
    left: 40px;
    z-index: 1;
}

#cuerpo .caja:nth-child(8){
    background-color: darkred;
    opacity: 70%;
    position: absolute;
    top: 13%;
    left: 75%;
    z-index: 1;
}

#pie {
    background-color: white;
    border: 2.5px dashed green;
}