header{
    background-color: black; 
    color: white;
    height: 125px;
    width: 20%;
    float: left;
}
nav{
    background-color: gray;
    color: black;
    float: left;
    width: 80%;
    height: 125px;
}
main{
    background-color: aquamarine;
    color: black;
    height: 400px;
    text-align: center;
}
footer{
    background-color: cadetblue;
    width: 100%;
}
main section{
    background-color: white;
    width: 80%;
    height: 100px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}
main article{
    float: left;
    background-color: white;
    width: 20%;
    height: 100%;
    margin-left: 10%;
    margin-top: 20px;
}
